/* 전반적인 스타일링 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* 헤더 스타일링 */
  .header {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  
  /* 메인 콘텐츠 스타일링 */
  .main-content {
    padding: 8%;
    text-align: center;
  }
  
  .intro-section {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #555;
  }
  
  /* 푸터 스타일링 */
  .footer {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  