/* 전반적인 스타일링 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* 헤더 스타일링 */
  .header {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  
  /*이미지 크기 설정*/

img {
  position: absolute;
  left: 50%;
  height: 70%;
  transform: translateX(-50%);
}

  
  
  .intro-section {
    max-width: 800px;
    margin: 0 auto;
  }
  
  
  /* 푸터 스타일링 */
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  